<h1>Create User</h1>

<form class="form-horizontal" role="form">
  <div class="form-group">
    <label for="Username" class="col-sm-2 control-label">User Name:</label>
    <div class="col-sm-4">
      <input class="form-control" id="username"
             ng-model="user.name" placeholder="user name"/>
    </div>
  </div>

  <div class="form-group">
    <label for="Age" class="col-sm-2 control-label">Age:</label>
    <div class="col-sm-4">
      <input class="form-control" id="age" type="number" min=”0? step="any"
             ng-model="user.age" placeholder="18"/>
    </div>
  </div>



  <div class="form-group">
    <label for="Height" class="col-sm-2 control-label">Height in inches:</label>
    <div class="col-sm-4">
      <input class="form-control" id="height" type="number" min=”0? step="any"
             ng-model="user.height" placeholder="48"/>
    </div>
  </div>

  <div class="form-group">
    <label for="Weight" class="col-sm-2 control-label">Weight:</label>
    <div class="col-sm-4">
      <input class="form-control" id="weight" type="number" min=”0? step="any"
             ng-model="user.weight" placeholder="125"/>
    </div>
  </div>

  <div class="form-group">
    <label for="Target" class="col-sm-2 control-label">Target Weight:</label>
    <div class="col-sm-4">
      <input class="form-control" id="target" type="number" min=”0? step="any"
             ng-model="user.target" placeholder="120"/>
    </div>
  </div>

  <div class="form-group">
    <label for="Daystotarget" class="col-sm-2 control-label">Days to reach goal:</label>
    <div class="col-sm-4">
      <input class="form-control" id="daystotarget" type="number" min=”0? step="any"
             ng-model="user.daystotarget" placeholder="90"/>
    </div>
  </div>

  <h4>Choose an avatar:</h4>

  <row class="form-group">

  <div class="form-check col-xs-12 col-sm-12 col-md-4 col-lg-12">
    <label class="form-check-label">
      <img src="https://s3.amazonaws.com/weighin-avatars/avatars/beastboy.jpg" value="avatar" height="50" width="50">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" ng-model="user.avatar" value="https://s3.amazonaws.com/weighin-avatars/avatars/beastboy.jpg" checked>
      Beast Boy
    </label>
  </div>
  <div class="form-check col-xs-12 col-sm-12 col-md-4 col-lg-12">
    <label class="form-check-label">
      <img src="https://s3.amazonaws.com/weighin-avatars/avatars/homer.jpg" value="avatar" height="50" width="50">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" ng-model="user.avatar" value="https://s3.amazonaws.com/weighin-avatars/avatars/homer.jpg">
      Homer Simpson
    </label>
  </div>
  <div class="form-check disabled col-xs-12 col-sm-12 col-md-4 col-lg-12">
    <label class="form-check-label">
      <img src="https://s3.amazonaws.com/weighin-avatars/avatars/raven.jpg" value="avatar" height="50" width="50">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" ng-model="user.avatar" value="https://s3.amazonaws.com/weighin-avatars/avatars/raven.jpg">
      Raven
    </label>
  </div>

  <div class="form-check disabled col-xs-12 col-sm-12 col-md-4 col-lg-12">
    <label class="form-check-label">
      <img src="https://s3.amazonaws.com/weighin-avatars/avatars/minecraft.jpg" value="avatar" height="50" width="50">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios4" ng-model="user.avatar" value="https://s3.amazonaws.com/weighin-avatars/avatars/minecraft.jpg">
      Minecraft
    </label>
  </div>

  <div class="form-check disabled col-xs-12 col-sm-12 col-md-4 col-lg-12">
    <label class="form-check-label">
      <img src="https://s3.amazonaws.com/weighin-avatars/avatars/sideshowbob.jpg" value="avatar" height="50" width="50">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios5" ng-model="user.avatar" value="https://s3.amazonaws.com/weighin-avatars/avatars/sideshowbob.jpg">
      Sideshow Bob
    </label>
  </div>

  <div class="form-check disabled col-xs-12 col-sm-12 col-md-4 col-lg-12">
    <label class="form-check-label">
      <img src="https://s3.amazonaws.com/weighin-avatars/avatars/snoopy.jpg" value="avatar" height="50" width="50">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios6" ng-model="user.avatar" value="https://s3.amazonaws.com/weighin-avatars/avatars/snoopy.jpg">
      Snoopy
    </label>
  </div>

  <div class="form-check disabled col-xs-12 col-sm-12 col-md-4 col-lg-12">
    <label class="form-check-label">
      <img src="https://s3.amazonaws.com/weighin-avatars/avatars/weightloss.jpg" value="avatar" height="50" width="50">
      <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios7" ng-model="user.avatar" value="https://s3.amazonaws.com/weighin-avatars/avatars/weightloss.jpg">
      Weight Loss
    </label>
  </div>


  </row>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="button" class="btn btn-default btn-lg" ng-click="addUser(user)">Submit</button>
    </div>
  </div>
</form>



