
<div class="jumbotron">
  <!--<img class="img img-responsive center-block" src="images/scale-icon-blue.png" />-->
  <h1>Weighin</h1>

  <p><a ng-href="#/userlist"><button class="btn btn-lg btn-warning"> Enter </button></a></p>
</div>

<!--<div class="row ">-->
      <!--<div class="col-xs-12 col-md-12 col-lg-12" ng-repeat="user in users">-->

        <!--<h3>{{user.name}}</h3>-->
        <!--<p>Weight: {{user.weight}}</p>-->
        <!--<p>Date: {{user.date}}</p>-->

      <!--</div>-->


<!--</div>-->
